<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 定义log 文件的 home 目录  -->
	<property name="LOG_HOME"  value="logs/logback"></property>
	<!-- 日志保留天数  -->
	<property name="MAX_DAY"  value="32"></property>
	<!-- 日志文件最大大小  -->
	<property name="MAX_Size"  value="128MB"></property>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- %.-1level 只显示信息级别的首字母,%-5level 左对齐显示信息级别全称 -->
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%thread] %logger{36} --%mdc{client} %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="TRACE_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<file>${LOG_HOME}/trace.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/trace.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>${MAX_DAY}</maxHistory>
			<!--<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
				<!--<MaxFileSize>${MAX_Size}</MaxFileSize>-->
			<!--</TimeBasedFileNamingAndTriggeringPolicy>-->
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>TRACE</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<file>${LOG_HOME}/info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/info.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>${MAX_DAY}</maxHistory>
			<!--<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
				<!--<MaxFileSize>${MAX_Size}</MaxFileSize>-->
			<!--</TimeBasedFileNamingAndTriggeringPolicy>-->
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="DEBUG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<file>${LOG_HOME}/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/debug.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>${MAX_DAY}</maxHistory>
			<!--<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
				<!--<MaxFileSize>${MAX_Size}</MaxFileSize>-->
			<!--</TimeBasedFileNamingAndTriggeringPolicy>-->
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="WARN_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<file>${LOG_HOME}/warn.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/warn.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>${MAX_DAY}</maxHistory>
			<!--<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
				<!--<MaxFileSize>${MAX_Size}</MaxFileSize>-->
			<!--</TimeBasedFileNamingAndTriggeringPolicy>-->
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoding>UTF-8</encoding>
		<file>${LOG_HOME}/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<maxHistory>${MAX_DAY}</maxHistory>
			<!--<TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
				<!--<MaxFileSize>${MAX_Size}</MaxFileSize>-->
			<!--</TimeBasedFileNamingAndTriggeringPolicy>-->
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%date{yyyy-MM-dd HH:mm:ss}] [%-5level] [%logger:%line] --%mdc{client} %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="TRACE_FILE" />-->
		<!--<appender-ref ref="INFO_FILE" />-->
		<!--<appender-ref ref="DEBUG_FILE" />-->
		<!--<appender-ref ref="WARN_FILE" />-->
		<!--<appender-ref ref="ERROR_FILE" />-->
	</root>

</configuration>